---
layout: default 
title: 
description:
---

<div class="content-wrapper" style="background-color: #FFFFFF;">

  <!-- Top band in the main color -->
  <div class="top-band" style="background-color: #934A5F; height: 0px;"></div>

  <section id="linkHere">
    <div class="container flex">
      <div class="text editable" style="background-color: #FFFFFF;">
        
        {% for post in paginator.posts | reverse %}
          <div class="blog-post" style="margin-bottom: 20px;">
            <h1>{{ post.title }}</h1>
            {{ post.content }}
          </div>
        {% endfor %}

        <!-- Pagination links -->
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
          {% endif %}


        </div>
      </div>
    </div>
  </section>
</div>

